<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>uni00A0</string>
      <string>sterling</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>logicalnot</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>periodcentered</string>
      <string>multiply</string>
      <string>divide</string>
      <string>uni2010</string>
      <string>uni2011</string>
      <string>figuredash</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>minute</string>
      <string>second</string>
      <string>Euro</string>
      <string>minus</string>
      <string>pipe</string>
      <string>bob</string>
      <string>tut</string>
      <string>deed</string>
      <string>kick</string>
      <string>gig</string>
      <string>thoth</string>
      <string>thither</string>
      <string>fife</string>
      <string>valve</string>
      <string>sis</string>
      <string>zoos</string>
      <string>shush</string>
      <string>zhivago</string>
      <string>church</string>
      <string>judge</string>
      <string>yoyo</string>
      <string>winwin</string>
      <string>haha</string>
      <string>whitewheat</string>
      <string>inkling</string>
      <string>mime</string>
      <string>nun</string>
      <string>loll</string>
      <string>roar</string>
      <string>loch</string>
      <string>llan</string>
      <string>axe</string>
      <string>exam</string>
      <string>qsbracketleft</string>
      <string>qsbracketright</string>
      <string>if</string>
      <string>eat</string>
      <string>ed</string>
      <string>age</string>
      <string>ash</string>
      <string>ice</string>
      <string>ah</string>
      <string>awl</string>
      <string>on</string>
      <string>oil</string>
      <string>ado</string>
      <string>out</string>
      <string>oak</string>
      <string>wool</string>
      <string>ooze</string>
      <string>mime_zoos</string>
      <string>deed_ado_roar</string>
      <string>mime_roar</string>
      <string>nun_nun_nun</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>Euro</key>
      <string>base</string>
      <key>ado</key>
      <string>base</string>
      <key>age</key>
      <string>base</string>
      <key>ah</key>
      <string>base</string>
      <key>ampersand</key>
      <string>base</string>
      <key>asciicircum</key>
      <string>base</string>
      <key>asciitilde</key>
      <string>base</string>
      <key>ash</key>
      <string>base</string>
      <key>asterisk</key>
      <string>base</string>
      <key>at</key>
      <string>base</string>
      <key>awl</key>
      <string>base</string>
      <key>axe</key>
      <string>base</string>
      <key>backslash</key>
      <string>base</string>
      <key>bar</key>
      <string>base</string>
      <key>bob</key>
      <string>base</string>
      <key>braceleft</key>
      <string>base</string>
      <key>braceright</key>
      <string>base</string>
      <key>bracketleft</key>
      <string>base</string>
      <key>bracketright</key>
      <string>base</string>
      <key>brokenbar</key>
      <string>base</string>
      <key>bullet</key>
      <string>base</string>
      <key>church</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>dagger</key>
      <string>base</string>
      <key>daggerdbl</key>
      <string>base</string>
      <key>deed</key>
      <string>base</string>
      <key>deed_ado_roar</key>
      <string>base</string>
      <key>degree</key>
      <string>base</string>
      <key>divide</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>eat</key>
      <string>base</string>
      <key>ed</key>
      <string>base</string>
      <key>eight</key>
      <string>base</string>
      <key>ellipsis</key>
      <string>base</string>
      <key>emdash</key>
      <string>base</string>
      <key>endash</key>
      <string>base</string>
      <key>equal</key>
      <string>base</string>
      <key>exam</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>fife</key>
      <string>base</string>
      <key>figuredash</key>
      <string>base</string>
      <key>five</key>
      <string>base</string>
      <key>four</key>
      <string>base</string>
      <key>gig</key>
      <string>base</string>
      <key>grave</key>
      <string>base</string>
      <key>greater</key>
      <string>base</string>
      <key>haha</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>ice</key>
      <string>base</string>
      <key>if</key>
      <string>base</string>
      <key>inkling</key>
      <string>base</string>
      <key>judge</key>
      <string>base</string>
      <key>kick</key>
      <string>base</string>
      <key>less</key>
      <string>base</string>
      <key>llan</key>
      <string>base</string>
      <key>loch</key>
      <string>base</string>
      <key>logicalnot</key>
      <string>base</string>
      <key>loll</key>
      <string>base</string>
      <key>mime</key>
      <string>base</string>
      <key>mime_roar</key>
      <string>base</string>
      <key>mime_zoos</key>
      <string>base</string>
      <key>minus</key>
      <string>base</string>
      <key>minute</key>
      <string>base</string>
      <key>multiply</key>
      <string>base</string>
      <key>nine</key>
      <string>base</string>
      <key>numbersign</key>
      <string>base</string>
      <key>nun</key>
      <string>base</string>
      <key>nun_nun_nun</key>
      <string>base</string>
      <key>oak</key>
      <string>base</string>
      <key>oil</key>
      <string>base</string>
      <key>on</key>
      <string>base</string>
      <key>one</key>
      <string>base</string>
      <key>ooze</key>
      <string>base</string>
      <key>out</key>
      <string>base</string>
      <key>parenleft</key>
      <string>base</string>
      <key>parenright</key>
      <string>base</string>
      <key>percent</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>periodcentered</key>
      <string>base</string>
      <key>pipe</key>
      <string>base</string>
      <key>plus</key>
      <string>base</string>
      <key>plusminus</key>
      <string>base</string>
      <key>qsbracketleft</key>
      <string>base</string>
      <key>qsbracketright</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>quotedbl</key>
      <string>base</string>
      <key>quotedblleft</key>
      <string>base</string>
      <key>quotedblright</key>
      <string>base</string>
      <key>quoteleft</key>
      <string>base</string>
      <key>quoteright</key>
      <string>base</string>
      <key>quotesingle</key>
      <string>base</string>
      <key>roar</key>
      <string>base</string>
      <key>second</key>
      <string>base</string>
      <key>section</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>seven</key>
      <string>base</string>
      <key>shush</key>
      <string>base</string>
      <key>sis</key>
      <string>base</string>
      <key>six</key>
      <string>base</string>
      <key>slash</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>sterling</key>
      <string>base</string>
      <key>thither</key>
      <string>base</string>
      <key>thoth</key>
      <string>base</string>
      <key>three</key>
      <string>base</string>
      <key>tut</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>underscore</key>
      <string>base</string>
      <key>uni00A0</key>
      <string>base</string>
      <key>uni2010</key>
      <string>base</string>
      <key>uni2011</key>
      <string>base</string>
      <key>valve</key>
      <string>base</string>
      <key>whitewheat</key>
      <string>base</string>
      <key>winwin</key>
      <string>base</string>
      <key>wool</key>
      <string>base</string>
      <key>yoyo</key>
      <string>base</string>
      <key>zero</key>
      <string>base</string>
      <key>zhivago</key>
      <string>base</string>
      <key>zoos</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
