<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>ado</key>
    <string>ado.glif</string>
    <key>age</key>
    <string>age.glif</string>
    <key>ah</key>
    <string>ah.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>ash</key>
    <string>ash.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>awl</key>
    <string>awl.glif</string>
    <key>axe</key>
    <string>axe.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bob</key>
    <string>bob.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>church</key>
    <string>church.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>deed</key>
    <string>deed.glif</string>
    <key>deed_ado_roar</key>
    <string>deed_ado_roar.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eat</key>
    <string>eat.glif</string>
    <key>ed</key>
    <string>ed.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exam</key>
    <string>exam.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>fife</key>
    <string>fife.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>gig</key>
    <string>gig.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>haha</key>
    <string>haha.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>ice</key>
    <string>ice.glif</string>
    <key>if</key>
    <string>if.glif</string>
    <key>inkling</key>
    <string>inkling.glif</string>
    <key>judge</key>
    <string>judge.glif</string>
    <key>kick</key>
    <string>kick.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>llan</key>
    <string>llan.glif</string>
    <key>loch</key>
    <string>loch.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>loll</key>
    <string>loll.glif</string>
    <key>mime</key>
    <string>mime.glif</string>
    <key>mime_roar</key>
    <string>mime_roar.glif</string>
    <key>mime_zoos</key>
    <string>mime_zoos.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>nun</key>
    <string>nun.glif</string>
    <key>nun_nun_nun</key>
    <string>nun_nun_nun.glif</string>
    <key>oak</key>
    <string>oak.glif</string>
    <key>oil</key>
    <string>oil.glif</string>
    <key>on</key>
    <string>on.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>ooze</key>
    <string>ooze.glif</string>
    <key>out</key>
    <string>out.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>pipe</key>
    <string>pipe.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>qsbracketleft</key>
    <string>qsbracketleft.glif</string>
    <key>qsbracketright</key>
    <string>qsbracketright.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>roar</key>
    <string>roar.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shush</key>
    <string>shush.glif</string>
    <key>sis</key>
    <string>sis.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thither</key>
    <string>thither.glif</string>
    <key>thoth</key>
    <string>thoth.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tut</key>
    <string>tut.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>valve</key>
    <string>valve.glif</string>
    <key>whitewheat</key>
    <string>whitewheat.glif</string>
    <key>winwin</key>
    <string>winwin.glif</string>
    <key>wool</key>
    <string>wool.glif</string>
    <key>yoyo</key>
    <string>yoyo.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zhivago</key>
    <string>zhivago.glif</string>
    <key>zoos</key>
    <string>zoos.glif</string>
  </dict>
</plist>
